@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap');

*,
*:after,
*:before {
	box-sizing: border-box;
}

:root {
	--main-bg-color: #FFF;
	--secondary-bg-color: #fafafa;
	--main-border-color: #ddd;
	--secondary-border-color: #eee;
	--main-color: #000;
}

body {
	padding-top: 60px;
	font-family: 'Open Sans', sans-serif;
	color: var(--main-color);
	background-color: var(--secondary-bg-color);
}

button {
	border: 0;
	background-color: var(--main-bg-color);
}

.none {
	display: none;
}

.container {
	width: 100%;
	margin: 0 auto;
}

.topbar {
	background-color: var(--main-bg-color);
	box-shadow: 0px 1px 1px var(--main-border-color);
	position: fixed;
	width: 100%;
	padding: 8px 16px;
	top: 0;
	left: 0;
}

.topbar__navigation {
	display: flex;
	justify-content: space-between;
}
 .topbar__logo {
		display: inline-block;
		height: 40px;
 }
.topbar__logo > img {
	height: 100%;
}

.stories {
	padding: 10px 0;
}

.stories .stories__container {
	display: flex;
	align-items: center;
}

.stories .user__thumb {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 76px;
	height: 76px;
	margin: 0 10px;
	border-radius: 100%;
	overflow: hidden;
}
.user__thumb.user__thumb--hasnewthump {
	background: linear-gradient(
		rgba(245,160,77,1) 0%,
		rgba(160,15,139,1) 100%
	);
}
.stories .user__thumb__wrapper {
	display: block;
	width: 70px;
	height:  70px;
	border-radius: 100%;
	border: 2px solid var(--main-bg-color);
	overflow: hidden;
}

.stories .user__thumb__wrapper > img {
	width: 100%;
}

.feed {
	padding: 16px;
	display: flex;
	flex-direction: column;
	width: 100%;
}

.post {
	background-color: var(--main-bg-color);
	border-radius: 12px;
	border: 1px solid var(--main-border-color);
	width: 100%;
	overflow: hidden;
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}

.post .post__header {
	display: flex;
	justify-content: space-between;
	padding: 10px 0;
}

.user {
	display: flex;
	justify-content: center;
	align-items: center;
}

.user .user__thumb {
	display: block;
	width: 40px;
	height: 40px;
	border-radius: 100%;
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0 10px 0;
}

.user .user__thumb > img {
	width: 100%;
}

.user .user__name {
	color: var(--main-color);
	text-decoration: none;
	font-size: 0.785em;
	font-weight: bold;
}

.post__figure {
	width: 100%;
	margin: 0;
}

.post__figure > img {
	width: 100%;
}

.post__controls {
	display: flex;
	align-items: center;
	justify-content: flex-start;
}

.post__control {
	font-size: 1.5em;
	padding: 0 15px;
}

.post__control:last-of-type {
	justify-content: flex-end;
	margin-left: auto;
}

.post__status {
	background-color: var(--secondary-border-color);
	display: flex;
	padding: 8px;
}

.post__status .user__thumb {
	width: 30px;
	height: 30px;
}

.post__status .user > span {
	font-size: 0.7em;
}

.post__status .user span > a {
	font-weight: bold;
	text-decoration: none;
	color: var(--main-color);
}

@media screen and (min-width: 728px) {
	.container {
			width: 728px;
	}
}